# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/
ENV/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# =========================
# Pytest
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# VS Code / IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# Jupyter / Data Science
# =========================
.ipynb_checkpoints/
data/raw/
data/processed/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db
